.latest-section{
    background: #fff;
    margin-top: 30px;
    padding-top: 50px;
    color: #000;
    
}

.latest-wrapper{
    margin: 0px auto;
    width: 85%;
}

.latest-header h4{
    font-weight:250;
    font-size:1.5rem;
    letter-spacing: 0.765em;
}

.latest-title{
    font-weight:bold;
    font-size: 2rem;
}

.latest-grid{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2em;

}

.latest-img{
    width: 100%;
}

.latest-img img{
    width: 100%;
}

.lt-works h4{
    font-weight:200;
    font-size: 1rem;
    letter-spacing: 0.365em;
}

.lt-col a{
    text-decoration: none;
    color: #000;
}

.lt-col h4{
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 0;
}

.lt-col{
    padding-bottom: 30px;
}


@media screen and (min-width: 960px) {
    .latest-grid{
        grid-template-columns: auto auto auto;
    }

    .latest-img{
        width: 100%;
    }

    .latest-wrapper{
        width: 92%;
    }

    .latest-element{
        margin: 10px 90px;
    }

    .latest-header h4{
        font-size: 2rem;
    }

    .latest-title{
        font-weight:bold;
        font-size: 2.5rem;
    }

    .lt-works{
        text-align: center;
    }

    
    .lt-works h4{
        font-size: 2rem;
    }

    .lt-col h4{
        font-size: 3rem;
    }

}
