nav{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
}

.navbar.active{
    background: #222222;
    transition: all 0.2s 
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: transparent;
}

.navbar-left{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
    font-size: 1rem;
}

.navbar-left:hover{
    cursor: pointer;
}

.logo{
    width: 25%;
}

.logo img{
    width: 100%;
}

.logo-info h4{
    letter-spacing: 0.2em;
}

.logo-info h4 span{
    font-weight: 200;
    font-size: 0.8rem;
}

.menu-links li{
    list-style: none;
    margin-top: 70px;
    font-size: 2rem;
}

.menu-links li a{
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.menu-links li a:hover{
    color: red;
    transition: all 0.3s ease-in-out;
}

.menu,
.close{
    cursor: pointer;
}

#nav-menu-link-show {
    display: inline-block;
    margin-left: -300px;
    position :fixed;
}

#nav-menu-link-hide{
    display: none;
}

#circle-show{
    display: block;
    position :fixed;
    margin: 20px 20px;
    background: radial-gradient(circle,#fff,#fff);
	border-radius: 50%;
    transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55);
    width: 80%;
    transform: translate(-60%,-50%);
    height: 90rem;
    z-index: -9;
}

#circle-hide{
    display: none;
}







@media screen and (max-width: 1440px) {
    .logo{
        display: none;
    }

    .navbar-left{
        width: 30%;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar-left{
        width: 50%;
        font-size: 0.9rem;
    }
}