
.gallery-title h4{
    font-size:1.5rem;
    font-weight:250;
    letter-spacing: 0.235em;
}

.gallery-header span{
    color:#D40610;
}

.gallery-header h4{
    font-size:1rem;
    font-weight: 600;
    color: #878080;
}

.gal-grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
    padding: 1em 0;
}

.gal-grid-img img{
    width: 100%;
    height: 700px;
}

.grid-card h4,
.grid-card p{
    position: absolute;
    padding: 1em;
    color: #9C9C9C;
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 1;
}

.grid-card p{
    padding: 3em 1em;
    width: 20%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.gal-grid-img img:hover{
    opacity: 0.155;
    transition: 0.2s all;
}

.gal-link{
    display: flex;
    justify-content:flex-end;   
}

.gal-link a{
    text-decoration: none;
}

.gal-link h4{
    font-weight: 400;
    font-size: 1.3rem;
    color: #9C9C9C;
    
}
 
